/* styles.css */

/* Style the tab buttons */
.tab-button {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    background-color: black;
    color: pink;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.tab-content h2 {
    color: #333;
}

.tab-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}